<article class="kontakt">
    <h1>{{contact.title}}:</h1>
    <address>
        <div>
            <p><span>(+420)</span> 722 915 669</p>
            <p><span>(+420)</span> 775 226 071</p>
            <a class="mail" href="mailto:FrantisekSteininger@seznam.cz">FrantisekSteininger@seznam.cz</a>
        </div>
        <p class="adresa">
            Na Svahu 129‎,
            <br />
            357 07, Oloví,
            <br />
            {% if lang == 'cs' %}
                Česká Republika
            {% else %}
                Czech Republic
            {% endif %}
        </p>
    </address>
</article>
