<header>
    <div class="logo">
        <h1>{{ header.logo.title }}</h1>
        <hr />
        <h2>{{ header.logo.subtitle }}</h2>
    </div>
    <article>
        {{ header.text | safe }}
    </article>
</header>
